.contact:hover{
    background-color: rgb(243, 237, 237);
}

.profile-pic{
    max-width: 80px;
    border-radius: 100%;
}
.profile-pic:hover,.user-pic:hover{
    border:2px solid gray;
}

.user-pic{
    width: 60px;
    border-radius: 100%;
}

.contact, .user{
    font-size: 20px;
}

.user{
    font-weight: bold;
}

.background{
    background-image: linear-gradient(to bottom, #429488,  #dbdbd3);
    background-repeat:no-repeat;
}

.menu{
    background-color: white;
}

.bg-blue{
    background-color: blue;
}

.bar{
    background-color: lightgray;
}

.icons{
    font-size: 25px;
    color:gray;
}
.icons > *:hover{
    color:rgb(58, 56, 56);
}

.message-sent{
    background-color:#DCF8C6;
}

.message-recieved{
    background-color: white;
}

.message-sent,.message-recieved{
    font-size:12px;
}